# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production & Build outputs
dist/
dist-ssr/
dist-storybook/
/out/
/.next/
storybook-static/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local Env Files
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test outputs
my-*
test-*
demo-*
